__pycache__
raw
test
processed
saved_models
lightning_logs
shape_predictor_68_face_landmarks.dat
*.wav
*.ckpt
jocko_willink
PortaSpeech
animated
Text
venv
.ipynb_checkpoints
finetuned_models
hifi-gan
*.onnx
# Javascript
node_modules