__pycache__
raw
test
processed
saved_models
lightning_logs
shape_predictor_68_face_landmarks.dat
jocko_willink
PortaSpeech
animated
Text
venv
.ipynb_checkpoints
finetuned_models
hifi-gan
*.wav
*.ckpt
*.onnx
*.tar
*.pth
*.bin
*.pt
preprocessed
tb_logs
streamlit_venv
language_models
# Javascript
node_modules